// VARIABLES

$black: #000000;
$white: #FFFFFF; 
$blue : #3c54a0;
$orange: #ff9000;
$purple: #b8c1e1;
$hover: #fdf6ec;

// Anchor tags
$a-tag: #ffffff;
$a-tag-hover: #000000;


// Font
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

$body-font: 'open sans' sans-serif;
